include README
include LICENSE
include Makefile
include VERSION
include *.bat
include *.c
include *.cmake
include *.def
include *.h
include *.in
include *.mingw
include *.py
include *.sh
include *.txt
recursive-include msvc *.sln
recursive-include msvc *.vcproj
recursive-include testreplyparse *.namevalue
recursive-include testreplyparse *.txt
recursive-include testreplyparse *.xml
